.titulo
	text-align center
	color black
#header-top
	position 	relative
	z-index 	999999
.logo
	make-xs-column(6)
	color blue
	img
		min-width:150px
		height:auto

		
.login-menu
	make-xs-column(6)
	
	ul
		color 			blue
		display 		flex
		float 			right
		margin-top 		20px
		li 
			list-style 	none
			display		inline
			& + li
				margin-left 10px
				

.logIn 
.menu
	height 		50px
	width 		47px
	overflow 	hidden
	display 	inline-block
	background-image 	url('../img/icones.png')
	background-repeat 	no-repeat
	cursor		pointer
	
.logIn
	background-position 0 0
.menu
	background-position -46px 0
	
#menu-principal
	make-xs-column(6)
	make-md-column(3)
	position absolute
	opacity	0.9
	top		0
	left    0
	margin  0
	z-index 999
	background-color $main-color
	color 			 $text-light-color
	-webkit-transition		transform 1s 
	transition				transform 1s
	ul.nav-menu-principal
		margin-top: 220px
		@extends .zero-padding-margin
		li
			font-size 20px
			text-align center
			margin 10px 20px
// animação para o menu
.hidden-menu
	transform translateX( -100% )
.show-menu
	transform translateX( 0 )