body
	font-family $fonts
	color		$text-color
	background-color darkblue
	
h1
h2
h3
h4
	color white
h1
	font-size 50px
	
li
	list-style	none
	
footer
	background-color 	$main-color
	color 				$text-light-color
	padding 			20px
	text-align			center

a 
	color 		$text-light-color
	font-size 	15px
	&:hover
		color $text-light-color