//boostrap mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"

// aplicação
@import 'app/variables'
@import 'app/utils'
@import 'app/mixins'
@import 'app/tags'
@import 'app/header'
@import 'app/content'

// COLORS //
$primary 	= #FAFBE3
$fonts 		= #413504

// BREAK POINTS
$small 		= 780px
$medium 	= 980px

// border-radius pattern
border-radius( $radius = 10px )
	-webkit-border-radius 5px
	border-radius 5px
	
padding-margin( $n = 5px )
	padding 10px
	margin 	10px
	

