/*!!
  Bootstrap!!
  Use apenas o necessario
 */

// Core variables and mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"

// Reset and dependencies
@import "bootstrap/normalize"
@import "bootstrap/print"
@import "bootstrap/glyphicons"

// Core CSS
@import "bootstrap/scaffolding"
@import "bootstrap/type"
@import "bootstrap/code"
@import "bootstrap/grid"
@import "bootstrap/tables"
@import "bootstrap/forms"
@import "bootstrap/buttons"

// Components
@import "bootstrap/component-animations"
@import "bootstrap/dropdowns"
//@import "styl/bootstrap/button-groups"
//@import "styl/bootstrap/input-groups"
//@import "styl/bootstrap/navs"
//@import "styl/bootstrap/navbar"
//@import "styl/bootstrap/breadcrumbs"
//@import "styl/bootstrap/pagination"
//@import "styl/bootstrap/pager"
//@import "styl/bootstrap/labels"
//@import "styl/bootstrap/badges"
//@import "styl/bootstrap/jumbotron"
//@import "styl/bootstrap/thumbnails"
//@import "styl/bootstrap/alerts"
//@import "styl/bootstrap/progress-bars"
//@import "styl/bootstrap/media"
//@import "styl/bootstrap/list-group"
//@import "styl/bootstrap/panels"
//@import "styl/bootstrap/responsive-embed"
//@import "styl/bootstrap/wells"
//@import "styl/bootstrap/close"

// Components w/ JavaScript
//@import "styl/bootstrap/modals"
//@import "styl/bootstrap/tooltip"
//@import "styl/bootstrap/popovers"
//@import "styl/bootstrap/carousel"

// Utility classes
@import "bootstrap/utilities"
@import "bootstrap/responsive-utilities"


