<% include partials/header.ejs %>

<!-- slide show -->
<section id="slide-show">
	<div class="slide">

		<div class="hold-text">
				
			<div class="slide-textos">
					
				<h1>Asteroids X1</h1>
					
				<h3>Desafie seu amigos em um jogo emocionante</h3>
				<button>Confira</button>
				
			</div>
			
		</div>		
	</div>
</section>


<section id="index-content" class="container-fluid">
	<article class="row">
			<h1 class="titulo">Conheça nosso trabalho</h1>
			<ul class=" imgs-destaque">
				<li class="clearfix">
					<a href="#">
						<div class="texto-thumbnail">
							<h4>Asteroid X1</h4>
						</div>						
						
						<img src="img/background-slide.jpg" class="img-responsive">
					</a>
					
				</li>

								
			</ul>

	</article>
</section>


<section class="container-fluid">
	<ul class="teste">
		<li>Casa</li>
		<li>Novo</li>
		<li>Endereço</li>
		<li>Fundilhos</li>
		<li>Irmão</li>
		<li>zip</li>

	</ul>
</section>
<section id="texto">

	<div>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
	</div>
	
</section>

<% include partials/footer.ejs %>