<% include partials/header.ejs %>
<section class="home container" id="home">

	<div class="row">
		<div class="col-xs-12">
			<canvas id="mainCanvas"></canvas>
		</div>
	</div>
	
</section>

</script>
<script type="text/javascript" src="js/Input.js"></script>
<script type="text/javascript" src="js/Vetor2d.js"></script>
<script type="text/javascript" src="js/Bola.js"></script>
<script type="text/javascript" src="js/Raquete.js"></script>
<script type="text/javascript" src="js/pong.js"></script>


<script type="text/javascript">

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>



<script>


var game;

  var socket = io();
  var id = Math.random();

  var player = {

  }

   socket.emit('init', {
  		reason: 'i have a new friend id: ' + id
  	});


  socket.on('initGame', function(data){
  		game = new Game(data.w, data.h, document.getElementById('mainCanvas'));
  	});

    socket.on('update', function(data){
  		game.ctx.clearRect(0, 0, data.w.w, data.w.h );
  		game.ctx.fillStyle = 'white';
  		game.ctx.beginPath();
  		
  		game.ctx.arc(data.bola.x, data.bola.y, data.bola.size, 0, Math.PI*2);
   		game.ctx.fill(); 		
  	});
</script>

<% include partials/footer.ejs %>