<% include partials/header.ejs %>
<section class="home container" id="home">

	<div class="row">
		<div class="col-xs-12">
			<canvas id="mainCanvas"></canvas>
		</div>
	</div>
	
</section>

</script>
<script type="text/javascript" src="/js/pong/Input.js"></script>
<script type="text/javascript" src="/js/pong/Vetor2d.js"></script>
<script type="text/javascript" src="/js/pong/Bola.js"></script>
<script type="text/javascript" src="/js/pong/Raquete.js"></script>
<script type="text/javascript" src="/js/pong/pong.js"></script>


<script type="text/javascript">

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>



<script>


var game;
var h = 500, w = 800;
  var socket = io();
  var esperando = true;
  game = new Game(800, 500, document.getElementById('mainCanvas'));

  // quarda para saber a saala
  var gameID = <%=id%>;
  console.log(gameID);
  


  socket.on('salaCheia', function(){
	  console.log('sala cheia');
	  SalaCheia();
  	});

socket.on('eu', function(){
	  console.log('sala cheia');
	  SalaCheia();
});


socket.on('broadcast', function(){
	  console.log('broadcast');

});

	socket.emit('criarPlayer', {id: gameID});


	function SalaCheia(){
		game.ctx.clearRect(0, 0, w, h );
  		game.ctx.fillStyle = 'white';
  		game.ctx.beginPath();
  		
  		game.ctx.font="20px Georgia";
		game.ctx.fillText("Sala Cheia",w /2 ,h * 0.3 );
   		game.ctx.fill(); 
	}


	function draw(){
		game.ctx.clearRect(0, 0, w, h );
  		game.ctx.fillStyle = 'white';
  		game.ctx.beginPath();
  		
  		game.ctx.font="20px Georgia";
		game.ctx.fillText("Esperando Adversário!",w /2 ,h * 0.3 );
   		game.ctx.fill(); 
	}

	x = 0;
	y = 0;
	function update(data){
		game.ctx.clearRect(0, 0, w, h );

		// bola
		game.ctx.fillStyle = data.bola.color;
  		game.ctx.beginPath();
  		game.ctx.arc(data.bola.x, data.bola.y, data.bola.size, 0, Math.PI * 2)
  		game.ctx.fill();

		// players
		for(var i = 0; i < data.players.length; i++)
		{
			game.ctx.fillRect(data.players[i].x, data.players[i].y, 
								data.players[i].w,  data.players[i].h)
		}
		

   		
	}

	draw();
    socket.on('update', function(data){
			
			update(data);
			console.log('update');

  	});
</script>

<% include partials/footer.ejs %>