<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%=name%></title>

	<!-- favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.png">

	<!-- Caso queira usar mudar a cor refente a cor do topo do browser(mobile) -->
	<meta name="theme-color" content="#ffffff">

	<!--google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400" rel="stylesheet">

	<!-- CSS -->	
	<link href="/css/plugins.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">
</head>

<body>

<!--[if lt IE 8]>
     <p class="browserupgrade">Você esta usando um navegador<strong> obsoleto</strong> . Visite <a href="http://browsehappy.com/">este link</a> para uma melhor experência.</p>
<![endif]-->

<!-- HEADER INICIO -->
<header id="header-top" class="container-fluid">
	<div class="row-fluid">

		<div class="logo">
			<a href="/">
			<img src="/img/logo.svg" class="logotipo">
			</a>
		</div>

		<div class="login-menu">

			<ul>
				<li>
					<a><span class="logIn"></span></a></li>

				<li class="wrraper-menu"><a href="/user"><span class="menu"></a></li>
				
			</ul>

		</div>
		
	</div>

</header>
<!-- HEADER FIM -->

<!-- Menu -->
<nav id="menu-principal" class="menu-principal container-fluid hidden-menu">
	<ul class="nav-menu-principal row">
		<% for(var i = 0; i < nav.length; i++){ %>
		<li>
			<a href="<%=nav[i].link%>"><%=nav[i].texto%></a>
		</li>
		<%}%>
	</ul>
</nav>